.formContainer {
  min-width: 400px;
  min-height: 400px;
  background-color: rgb(68, 68, 68);
  padding: 24px;
}

.title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.formControl input {
  outline: none;
  padding: 16px 8px;
}

.actionsControl {
  display: flex;
  justify-content: center;
  gap: 8px;
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
h3 {
  text-align: center;
  margin-top: 24px;
}
table {
  width: 100%;
  margin-top: 16px;
  gap: 16px;
}
th {
  text-align: start;
}

.obesidade,
.obesidadeGrave {
  color: red;
}
.magreza,
.sobrepeso {
  color: yellow;
}
.normal {
  color: rgb(0, 211, 0);
}
